<link href="~/css/index.css" rel="stylesheet" />

    <div class="body-container">

        <!-- Basket -->
        <div class="basket-container">
            <div class="basket-count">
                <p>0</p>
            </div>
            <div class="basket-icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="basket-content">
                <h3>Products</h3>
                <div class="basket-products">
                    <ul>
                    </ul>
                </div>
                <p class="basket-total">TOTAL:</p>
                <p class="basket-total-amount">&#3647; 0</p>
                <div class="clear"></div>
                <button class="basket-checkout">CHECKOUT</button>
            </div>
        </div>
        @*<div class="row ">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://via.placeholder.com/100/ffffff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="basket-add"
                                    data-basket-product-price="100"
                                    data-basket-product-id="prod1"
                                    data-basket-product-name="Apples">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://via.placeholder.com/100/ffffff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="basket-add"
                                    data-basket-product-price="100"
                                    data-basket-product-id="prod1"
                                    data-basket-product-name="Apples">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://via.placeholder.com/100/ffffff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="clear"></div>
                            <button class="basket-add"
                                    data-basket-product-price="100"
                                    data-basket-product-id="prod1"
                                    data-basket-product-name="Apples">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
        <div id="content">

        </div>
        @*<div class="products">

                <div class="product">
                    <img src="http://via.placeholder.com/100/ffffff">
                    <h2>Apples &euro; 100,-</h2>
                    <p>Here are some delicious apples!</p>
                    <div class="clear"></div>
                    <button class="basket-add"
                            data-basket-product-price="100"
                            data-basket-product-id="prod1"
                            data-basket-product-name="Apples">
                        ADD TO CART
                    </button>
                </div>

                <div class="product">
                    <img src="http://via.placeholder.com/100/ffffff">
                    <h2>Apples &euro; 100,-</h2>
                    <p>Here are some delicious apples!</p>
                    <div class="clear"></div>
                    <button class="basket-add"
                            data-basket-product-price="100"
                            data-basket-product-id="prod1"
                            data-basket-product-name="Apples">
                        ADD TO CART
                    </button>
                </div>

                <div class="product">
                    <img src="http://via.placeholder.com/100/ffffff">
                    <h2>Apples &euro; 100,-</h2>
                    <p>Here are some delicious apples!</p>
                    <div class="clear"></div>
                    <button class="basket-add"
                            data-basket-product-price="100"
                            data-basket-product-id="prod1"
                            data-basket-product-name="Apples">
                        ADD TO CART
                    </button>
                </div>

                <div class="product">
                    <img src="http://via.placeholder.com/100/ffffff">
                    <h2>Apples &euro; 100,-</h2>
                    <p>Here are some delicious apples!</p>
                    <div class="clear"></div>
                    <button class="basket-add"
                            data-basket-product-price="100"
                            data-basket-product-id="prod1"
                            data-basket-product-name="Apples">
                        ADD TO CART
                    </button>
                </div>

                <div class="product">
                    <img src="http://via.placeholder.com/100/ffffff">
                    <h2>Apples &euro; 100,-</h2>
                    <p>Here are some delicious apples!</p>
                    <div class="clear"></div>
                    <button class="basket-add"
                            data-basket-product-price="100"
                            data-basket-product-id="prod1"
                            data-basket-product-name="Apples">
                        ADD TO CART
                    </button>
                </div>

            </div>*@
    </div>
    <script src="~/js/index.js"></script>
